.mobile-chat{
    margin: 0;
    font-family: Arial, sans-serif;

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(25,227,81,1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header{
    width: 30%;
    height: 80px;
    text-decoration: underline;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.back{
    width: 50px;
}

.logo{
    width:100%;
}
.logo img{
    height: 100%;
    object-fit: fill;
}

.box{
    width: 33%;
}


.stop-generating{
    width: 15%;
    padding: 10px 20px;
    margin-top: 50px;

    background-color: #131313;
    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stop-generating p{
    font-size: 24px;
    padding-right: 10px;
    color: white;
}

.rectangle-box{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle{
    width: 20px;
    height: 20px;
    border: 3px solid black;
}



.welcome{
    width: 25%;
    padding: 50px;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 30px;
}

.like-box{
    width: 100%;
    margin-top: 50px;
    display: flex;
}

.like-box img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}


.library{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.library h1{
    font-size: 32px;
    color: white;
}


.buttons{
    width: 30%;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
}

.buttons button{
    width: 30%;
    height: 50px;
    margin: 10px 5px;

    background-color: #131313;
    color: #fff;

    border: none;
    border-radius: 50px;

    font-size: 24px;
}


.enter-text{
    width: 30%;

    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.input-box {
    width: 85%;
    height: 20%;

    display: flex;
    background-color: #ccc;

    align-items: center;
    border-radius: 50px;
    padding: 8px 20px 8px 15px;
}
.input-box input {
    font-size: 20px;
    border: none;
    outline: none;
    flex-grow: 1;
    background: transparent;
    color: white;
}
.input-box p {
    font-size: 20px;
}

.plane-circle{
    width: 10%;
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.plane{
    width: 80%;
    height: auto;
}